* {
    padding: 0;
    margin: 0;
}

.viewport {
    overflow: hidden;

}

body {
    position: relative;
}

.air {
    position: absolute;;
    z-index: 9000;
    height: 40px;
    width: 40px;
    background-image: url('../500941.png');
    background-size: 100% 100%;
}